<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Shisha International </title>


    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">
    <link rel="stylesheet" href="css/mystyle.css" type="text/css">

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <!-- Toggle Maps on click -->
    <script>
    $(document).ready(function(){
        $("#maps-button").click(function(){
            $("#map").slideToggle();
        });
    });
    </script>

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                <a class="navbar-brand page-scroll" href="#page-top">Shisha Finder</a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <header id ="city">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Find the best Shisha lounges in Amsterdam</h1>
            </div>
        </div>
    </header>


    <!-- View-options  -->
    <div id="maps-bar" class="row">
      <div class="col-lg-12 text-center">
        <a id="maps-button" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-map-marker"></span> Map
        </a>
          <!-- <ul>
              <li>Maps</li>
              <li></li>
              <li></li>
              <li></li>
          </ul>
          <button>maps</button> -->
      </div>
    </div>

    <!-- Google maps -->
    <div id="map"></div>

    <!-- Shisha grid -->
    <section id="shisha-city" class="bg-light-gray">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-6 shisha-city-item">
                <a href="#shisha-cityModal1" class="shisha-city-link" data-toggle="modal">
                    <div class="shisha-city-hover">
                        <div class="shisha-city-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/city-banners/amsterdam/ams-1.jpg" class="img-responsive" alt="">
                </a>
                <div class="shisha-city-caption">
                    <h4 class ="shisha-title">Round Icons</h4>
                    <p class="text-muted">No reservation needed</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 shisha-city-item">
                <a href="#shisha-cityModal2" class="shisha-city-link" data-toggle="modal">
                    <div class="shisha-city-hover">
                        <div class="shisha-city-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/city-banners/amsterdam/ams-2.jpg" class="img-responsive" alt="">
                </a>
                <div class="shisha-city-caption">
                    <h4 class ="shisha-title">Startup Framework</h4>
                    <p class="text-muted">No reservation needed</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 shisha-city-item">
                <a href="#shisha-cityModal3" class="shisha-city-link" data-toggle="modal">
                    <div class="shisha-city-hover">
                        <div class="shisha-city-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/city-banners/amsterdam/ams-3.jpg" class="img-responsive" alt="">
                </a>
                <div class="shisha-city-caption">
                    <h4 class ="shisha-title">Treehouse</h4>
                    <p class="text-muted">No reservation needed</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 shisha-city-item">
                <a href="#shisha-cityModal4" class="shisha-city-link" data-toggle="modal">
                    <div class="shisha-city-hover">
                        <div class="shisha-city-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/city-banners/amsterdam/ams-4.jpg" class="img-responsive" alt="">
                </a>
                <div class="shisha-city-caption">
                    <h4 class ="shisha-title">Golden</h4>
                    <p class="text-muted">No reservation needed</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 shisha-city-item">
                <a href="#shisha-cityModal5" class="shisha-city-link" data-toggle="modal">
                    <div class="shisha-city-hover">
                        <div class="shisha-city-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/city-banners/amsterdam/ams-5.jpg" class="img-responsive" alt="">
                </a>
                <div class="shisha-city-caption">
                    <h4 class ="shisha-title">Escape</h4>
                    <p class="text-muted">No reservation needed</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 shisha-city-item">
                <a href="#shisha-cityModal6" class="shisha-city-link" data-toggle="modal">
                    <div class="shisha-city-hover">
                        <div class="shisha-city-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/city-banners/amsterdam/ams-6.jpg" class="img-responsive" alt="">
                </a>
                <div class="shisha-city-caption">
                    <h4 class ="shisha-title">Dreams</h4>
                    <p class="text-muted">No reservation needed</p>
                </div>
            </div>

            <div class="No reservation needed">
                <div class="col-md-4 col-sm-6 shisha-city-item">
                    <a href="#shisha-cityModal1" class="shisha-city-link" data-toggle="modal">
                        <div class="shisha-city-hover">
                            <div class="shisha-city-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/city-banners/amsterdam/ams-1.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="shisha-city-caption">
                        <h4 class ="shisha-title">Round Icons</h4>
                        <p class="text-muted">No reservation needed</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 shisha-city-item">
                    <a href="#shisha-cityModal2" class="shisha-city-link" data-toggle="modal">
                        <div class="shisha-city-hover">
                            <div class="shisha-city-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/city-banners/amsterdam/ams-2.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="shisha-city-caption">
                        <h4 class ="shisha-title">Startup Framework</h4>
                        <p class="text-muted">No reservation needed</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 shisha-city-item">
                    <a href="#shisha-cityModal3" class="shisha-city-link" data-toggle="modal">
                        <div class="shisha-city-hover">
                            <div class="shisha-city-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/city-banners/amsterdam/ams-3.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="shisha-city-caption">
                        <h4 class ="shisha-title">Treehouse</h4>
                        <p class="text-muted">No reservation needed</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 shisha-city-item">
                    <a href="#shisha-cityModal4" class="shisha-city-link" data-toggle="modal">
                        <div class="shisha-city-hover">
                            <div class="shisha-city-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/city-banners/amsterdam/ams-4.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="shisha-city-caption">
                        <h4 class ="shisha-title">Golden</h4>
                        <p class="text-muted">No reservation needed</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 shisha-city-item">
                    <a href="#shisha-cityModal5" class="shisha-city-link" data-toggle="modal">
                        <div class="shisha-city-hover">
                            <div class="shisha-city-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/city-banners/amsterdam/ams-5.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="shisha-city-caption">
                        <h4 class ="shisha-title">Escape</h4>
                        <p class="text-muted">No reservation needed</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 shisha-city-item">
                    <a href="#shisha-cityModal6" class="shisha-city-link" data-toggle="modal">
                        <div class="shisha-city-hover">
                            <div class="shisha-city-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/city-banners/amsterdam/ams-6.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="shisha-city-caption">
                        <h4 class ="shisha-title">Dreams</h4>
                        <p class="text-muted">No reservation needed</p>
                    </div>
                </div>

        </div>
    </div>
    </section>

    <script>
           function initMap() {
             var mapDiv = document.getElementById('map');
             var map = new google.maps.Map(mapDiv, {
                 center: {lat: 52.3702160, lng: 4.8951680},
                 zoom: 12
             });
           }
    </script>

    <script async defer
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSfiU9q-2LdmErSm1EpI0Ns9cJb4otyzo&callback=initMap">
    </script>
</body>
</html>
